/* src/styles/Skills.css */
.skills-section {
  padding: 0px  5% 60px;
  background-color: #0f172a; /* Fundo escuro para contrastar com os projetos */
  color: white;
 
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.skill-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  border-left: 4px solid #3b82f6;
}

.skill-card h3 {
  margin-top: 0;
  color: #3b82f6;
  font-size: 1.2rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skill-item {
  background: #334155;
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
}